<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">
    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                        <p class="bg-info" ng-bind="vm.selectedDepartureICAO.airportName"></p>
                        <weather-info info="vm.departureWeather"></weather-info>
                        <p class="bg-info" ng-bind="vm.selectedArrivalICAO.airportName"></p>
                        <weather-info info="vm.arrivalWeather"></weather-info>                        
                        <p class="bg-info"><span ng-bind="vm.selectedWeight.weight"></span> KG</p>
                        
                        
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

